In [6]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [7]:
# Creamos Schema ABC EMPLOYEES
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1',
    port=3306
)

mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS ABCemployees")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 

cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS ABCemploye..

In [8]:
# Creamos la tabla de personal_data

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
table_personal_data = ("CREATE TABLE personal_data (employee_id INT PRIMARY KEY, gender VARCHAR(10), education INT, education_field VARCHAR(50), marital_status VARCHAR(20), num_companies_worked INT, date_birth DATE);")

try:
    mycursor.execute(table_personal_data)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

MySQLCursor: CREATE TABLE personal_data (employee_id ..

In [9]:
# Creamos la tabla de personal_data

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
table_personal_data = ("CREATE TABLE roles ( employee_id INT PRIMARY KEY, depart VARCHAR(50), job_level INT, job_role VARCHAR(50), role_department VARCHAR(50), environment_satisfaction INT, job_satisfaction INT, relationship_satisfaction INT, work_life_balance INT);")

try:
    mycursor.execute(table_personal_data)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

MySQLCursor: CREATE TABLE roles ( employee_id INT PRI..

In [ ]:
# Creamos la tabla de personal_data

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
table_personal_data = ("CREATE TABLE salary_table (employee_id INT PRIMARY KEY, daily_rate INT, hourly_rate INT, monthly_income INT, monthly_rate INT, environment_satisfaction INT, job_satisfaction INT, relationship_satisfaction INT, work_life_balance INT);")

try:
    mycursor.execute(table_personal_data)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()