In [12]:
#pip install sqlalchemy

In [13]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [14]:
# Creamos Schema ABC EMPLOYEES
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1',
    port=3306
)

mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS ABCemployees")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 

cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS ABCemploye..

In [15]:
# Creamos la tabla de personal_data

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
personal_data = ("CREATE TABLE personal_data (employee_id INT PRIMARY KEY, gender VARCHAR(10), education INT, education_field VARCHAR(50), marital_status VARCHAR(20), num_companies_worked INT, date_birth DATE);")

try:
    mycursor.execute(personal_data)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'personal_data' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'personal_data' already exists

In [16]:
# Creamos la tabla de roles

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
roles = ("CREATE TABLE roles ( employee_id INT PRIMARY KEY, department VARCHAR(50), job_level INT, job_role VARCHAR(50), role_department VARCHAR(50));")

try:
    mycursor.execute(roles)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'roles' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'roles' already exists

In [17]:
# Creamos la tabla salary_table
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
salary_table = ("CREATE TABLE salary_table (employee_id INT PRIMARY KEY, daily_rate FLOAT, hourly_rate VARCHAR(20), monthly_income VARCHAR(20), monthly_rate INT, percent_salary_hike INT);")

try:
    mycursor.execute(salary_table)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'salary_table' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'salary_table' already exists

In [18]:
# Creamos la tabla de work_environment

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
work_environment = ("CREATE TABLE work_environment (employee_id INT PRIMARY KEY, job_satisfaction INT, relationship_satisfaction INT, work_life_balance INT);")

try:
    mycursor.execute(work_environment)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'work_environment' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'work_environment' already exists

In [19]:
# Creamos la tabla de time_management
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
time_management = ("CREATE TABLE time_management (employee_id INT PRIMARY KEY, business_travel VARCHAR(40), distance_from_home INT, over_time VARCHAR(30), remote_work BOOLEAN);")

try:
    mycursor.execute(time_management)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'time_management' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'time_management' already exists

In [20]:
# Creamos la tabla de employment_history
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
employement_history = ("CREATE TABLE employement_history (employee_id INT PRIMARY KEY, total_working_years FLOAT, years_at_company INT,years_since_last_promotion INT, years_with_curr_manager INT);")

try:
    mycursor.execute(employement_history)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1050 (42S01): Table 'employement_history' already exists
Error Code: 1050
SQLSTATE 42S01
Message Table 'employement_history' already exists

In [21]:
# Creamos la tabla de employee_engagement
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
employee_engagement = ("CREATE TABLE  (employee_id INT PRIMARY KEY, attrition FLOAT, job_involvement INT, stock_option_level INT, training_times_last_year INT);")

try:
    mycursor.execute(employee_engagement)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(employee_id INT PRIMARY KEY, attrition FLOAT, job_involvement INT, stock_option' at line 1
Error Code: 1064
SQLSTATE 42000
Message You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near '(employee_id INT PRIMARY KEY, attrition FLOAT, job_involvement INT, stock_option' at line 1

In [22]:
df_abc=pd.read_csv("df_abc")

In [23]:
from sqlalchemy import create_engine

In [24]:
engine = create_engine('mysql+mysqlconnector://root:AlumnaAdalab@127.0.0.1/ABCemployees')

In [25]:
df_personal_data = df_abc[["employee_id", "gender", "education" , "education_field", "marital_status", "num_companies_worked", "date_birth"]]

In [26]:
# Subir el DataFrame limpio a una tabla en MySQL
df_personal_data.to_sql(name='personal_data', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [27]:
df_roles = df_abc[["employee_id", "department", "job_level", "job_role", "role_department"]]

In [28]:
# Subir el DataFrame limpio a una tabla en MySQL
df_roles.to_sql(name='roles', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [29]:
df_salary_table = df_abc[["employee_id", "daily_rate", "hourly_rate", "monthly_income" , "monthly_rate", "percent_salary_hike"]]

In [30]:
# Subir el DataFrame limpio a una tabla en MySQL
df_salary_table.to_sql(name='salary_table', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [31]:
df_work_environment = df_abc[["employee_id", "job_satisfaction", "relationship_satisfaction", "work_life_balance"]]

In [32]:
# Subir el DataFrame limpio a una tabla en MySQL
df_work_environment.to_sql(name='work_environment', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [33]:
df_time_management = df_abc[["employee_id", "business_travel", "distance_from_home", "over_time", "remote_work"]]

In [34]:
# Subir el DataFrame limpio a una tabla en MySQL
df_time_management.to_sql(name='time_management', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [35]:
df_employement_history = df_abc[["employee_id", "total_working_years", "years_at_company", "years_since_last_promotion", "years_with_curr_manager"]]

In [36]:
# Subir el DataFrame limpio a una tabla en MySQL
df_employement_history.to_sql(name='employement_history', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.

In [37]:
df_employee_engagement = df_abc[["employee_id", "attrition", "job_involvement", "stock_option_level", "training_time_last_year"]]

In [38]:
# Subir el DataFrame limpio a una tabla en MySQL
df_employee_engagement.to_sql(name='employee_engagement', con = engine, if_exists='replace', index=False)

print("Datos limpiados y subidos correctamente a la tabla MySQL.")

Datos limpiados y subidos correctamente a la tabla MySQL.