In [10]:
pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\trico\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\trico\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\trico\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from sqlalchemy) (3.0.3)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: C:\Users\trico\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [6]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode
from sqlalchemy import create_engine


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd

In [7]:
# Creamos Schema ABC EMPLOYEES
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1',
    port=3306
)

mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE IF NOT EXISTS ABCemployees")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg) 

cnx.close()

MySQLCursor: CREATE DATABASE IF NOT EXISTS ABCemploye..

In [8]:
# Creamos la tabla de personal_data

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
personal_data = ("CREATE TABLE personal_data (employee_id INT PRIMARY KEY, gender VARCHAR(10), education INT, education_field VARCHAR(50), marital_status VARCHAR(20), num_companies_worked INT, date_birth DATE);")

try:
    mycursor.execute(personal_data)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

MySQLCursor: CREATE TABLE personal_data (employee_id ..

In [9]:
# Creamos la tabla de roles

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
roles = ("CREATE TABLE roles ( employee_id INT PRIMARY KEY, department VARCHAR(50), job_level INT, job_role VARCHAR(50), role_department VARCHAR(50));")

try:
    mycursor.execute(roles)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

MySQLCursor: CREATE TABLE roles ( employee_id INT PRI..

In [ ]:
# Creamos la tabla salary_table
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
salary_table = ("CREATE TABLE salary_table (employee_id INT PRIMARY KEY, daily_rate FLOAT, hourly_rate VARCHAR(20), monthly_income VARCHAR(20), monthly_rate INT, percent_salary_hike INT);")

try:
    mycursor.execute(salary_table)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

In [ ]:
# Creamos la tabla de work_environment

cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
work_environment = ("CREATE TABLE work_environment (employee_id INT PRIMARY KEY, job_satisfaction INT, relationship_satisfaction INT, work_life_balance INT);")

try:
    mycursor.execute(work_environment)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

In [ ]:
# Creamos la tabla de time_management
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
time_management = ("CREATE TABLE time_management (employee_id INT PRIMARY KEY, business_travel VARCHAR(40), distance_from_home INT, over_time VARCHAR(30), remote_work BOOLEAN);")

try:
    mycursor.execute(time_management)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

In [ ]:
# Creamos la tabla de employment_history
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
employement_history = ("CREATE TABLE employement_history (employee_id INT PRIMARY KEY, total_working_years FLOAT, years_at_company INT,years_since_last_promotion INT, years_with_curr_manager INT);")

try:
    mycursor.execute(employement_history)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

In [ ]:
# Creamos la tabla de employee_engagement
cnx = mysql.connector.connect(
    user='root', 
    password='AlumnaAdalab',
    host= '127.0.0.1', database = "ABCemployees",
    port=3306
)

mycursor = cnx.cursor()
employee_engagement = ("CREATE TABLE  (employee_id INT PRIMARY KEY, attrition FLOAT, job_involvement INT, stock_option_level INT, training_times_last_year INT);")

try:
    mycursor.execute(employee_engagement)
    
                                            
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)
cnx.close()

In [ ]:
df_table1 = df[['column1', 'column2', 'column3']]