In [2]:
# antes de empezar importamos las librerías que necesitaremos para poder trabajar con todos sus métodos. También configuramos la opción de ver todas las columnas
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

from scipy.stats import shapiro, kstest, poisson, chisquare, expon
from itertools import combinations



pd.set_option('display.max_columns', None)

In [3]:
df_abc = pd.read_csv("RAW DATA.csv", sep=",", header="infer")
print(df_abc.head())
print(f"Tenemos {df_abc.shape[0]} filas y {df_abc.shape[1]} columnas")

   Unnamed: 0 Age Attrition BusinessTravel DailyRate  \
0           0  51        No            NaN    684,0$
1           1  52        No            NaN    699,0$
2           2  42        No  travel_rarely    532,0$
3           3  47        No  travel_rarely    359,0$
4           4  46        No            NaN   1319,0$

                 Department  DistanceFromHome  Education    EducationField  \
0                       NaN                 6          3               NaN
1                       NaN                 1          4     Life Sciences
2   Research & Development                  4          2  Technical Degree
3                       NaN                 2          4           Medical
4                       NaN                 3          3  Technical Degree

   employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  \
0              1          162,0                        1       0         51
1              1          259,0                        3       0         65
2              1          319,0                        3       0         58
3              1            NaN                        1       1         82
4              1            NaN                        1       1         45

   JobInvolvement  JobLevel              JobRole  JobSatisfaction  \
0               3         5   resEArch DIREcToR                 3
1               2         5             ManAGeR                 3
2               3         5             ManaGER                 4
3               3         4   ReseArCH DIrECtOr                 3
4               4         4     sAleS EXECUtIve                 1

  MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18  \
0           NaN       19537,0         6462                   7      Y
1           NaN       19999,0         5678                   0    NaN
2       Married       19232,0         4933                   1    NaN
3       Married       17169,0        26703                   3      Y
4      Divorced           NaN         7739                   2      Y

  OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction  \
0       No                 13               3,0                         3
1      NaN                 14               3,0                         1
2       No                 11               3,0                         4
3      NaN                 19               3,0                         2
4       No                 12               3,0                         4

  StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear  \
0           NaN                 0               NaN                      5
1           NaN                 1              34,0                      5
2           NaN                 0              22,0                      3
3           NaN                 2               NaN                      2
4           NaN                 1               NaN                      5

  WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0             3,0              20                NaN                       15
1             3,0              33                NaN                       11
2             NaN              22                NaN                       11
3             NaN              20                NaN                        5
4             3,0              19                NaN                        2

   YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth       Salary  \
0                    15             19537,0       1972  1000000000$
1                     9             19999,0       1971  1000000000$
2                    15             19232,0       1981  1000000000$
3                     6             17169,0       1976  1000000000$
4                     8                 NaN       1977  1000000000$

                        RoleDepartament  NUMBERCHILDREN RemoteWork
0                                   NaN             NaN        Yes
1                                   NaN             NaN          1
2   ManaGER  -  Research & Development              NaN          1
3                                   NaN             NaN      False
4                                   NaN             NaN          0
Tenemos 1614 filas y 42 columnas

In [4]:
df_abc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 42 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                1614 non-null   int64
 1   Age                       1614 non-null   object
 2   Attrition                 1614 non-null   object
 3   BusinessTravel            842 non-null    object
 4   DailyRate                 1614 non-null   object
 5   Department                302 non-null    object
 6   DistanceFromHome          1614 non-null   int64
 7   Education                 1614 non-null   int64
 8   EducationField            869 non-null    object
 9   employeecount             1614 non-null   int64
 10  employeenumber            1183 non-null   object
 11  EnvironmentSatisfaction   1614 non-null   int64
 12  Gender                    1614 non-null   int64
 13  HourlyRate                1614 non-null   object
 14  JobInvolvement            1614 non-null   int64
 15  JobLevel                  1614 non-null   int64
 16  JobRole                   1614 non-null   object
 17  JobSatisfaction           1614 non-null   int64
 18  MaritalStatus             963 non-null    object
 19  MonthlyIncome             771 non-null    object
 20  MonthlyRate               1614 non-null   int64
 21  NUMCOMPANIESWORKED        1614 non-null   int64
 22  Over18                    713 non-null    object
 23  OverTime                  938 non-null    object
 24  PercentSalaryHike         1614 non-null   int64
 25  PerformanceRating         1419 non-null   object
 26  RelationshipSatisfaction  1614 non-null   int64
 27  StandardHours             419 non-null    object
 28  StockOptionLevel          1614 non-null   int64
 29  TOTALWORKINGYEARS         1088 non-null   object
 30  TrainingTimesLastYear     1614 non-null   int64
 31  WORKLIFEBALANCE           1506 non-null   object
 32  YearsAtCompany            1614 non-null   int64
 33  YearsInCurrentRole        34 non-null     object
 34  YearsSinceLastPromotion   1614 non-null   int64
 35  YEARSWITHCURRMANAGER      1614 non-null   int64
 36  SameAsMonthlyIncome       771 non-null    object
 37  DateBirth                 1614 non-null   int64
 38  Salary                    1614 non-null   object
 39  RoleDepartament           302 non-null    object
 40  NUMBERCHILDREN            0 non-null      float64
 41  RemoteWork                1614 non-null   object
dtypes: float64(1), int64(19), object(22)
memory usage: 529.7+ KB