In [1]:
# antes de empezar importamos las librerías que necesitaremos para poder trabajar con todos sus métodos. También configuramos la opción de ver todas las columnas
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
import scipy.stats as stats

from sklearn.impute import SimpleImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.impute import KNNImputer

from scipy.stats import shapiro, kstest, poisson, chisquare, expon
from itertools import combinations



pd.set_option('display.max_columns', None)

In [4]:
df_abc = pd.read_csv("RAW DATA.csv", sep=",", header="infer")
print(df_abc.head())
print(f"Tenemos {df_abc.shape[0]} filas y {df_abc.shape[1]} columnas")

   Unnamed: 0 Age Attrition BusinessTravel DailyRate  \
0           0  51        No            NaN    684,0$
1           1  52        No            NaN    699,0$
2           2  42        No  travel_rarely    532,0$
3           3  47        No  travel_rarely    359,0$
4           4  46        No            NaN   1319,0$

                 Department  DistanceFromHome  Education    EducationField  \
0                       NaN                 6          3               NaN
1                       NaN                 1          4     Life Sciences
2   Research & Development                  4          2  Technical Degree
3                       NaN                 2          4           Medical
4                       NaN                 3          3  Technical Degree

   employeecount employeenumber  EnvironmentSatisfaction  Gender HourlyRate  \
0              1          162,0                        1       0         51
1              1          259,0                        3       0         65
2              1          319,0                        3       0         58
3              1            NaN                        1       1         82
4              1            NaN                        1       1         45

   JobInvolvement  JobLevel              JobRole  JobSatisfaction  \
0               3         5   resEArch DIREcToR                 3
1               2         5             ManAGeR                 3
2               3         5             ManaGER                 4
3               3         4   ReseArCH DIrECtOr                 3
4               4         4     sAleS EXECUtIve                 1

  MaritalStatus MonthlyIncome  MonthlyRate  NUMCOMPANIESWORKED Over18  \
0           NaN       19537,0         6462                   7      Y
1           NaN       19999,0         5678                   0    NaN
2       Married       19232,0         4933                   1    NaN
3       Married       17169,0        26703                   3      Y
4      Divorced           NaN         7739                   2      Y

  OverTime  PercentSalaryHike PerformanceRating  RelationshipSatisfaction  \
0       No                 13               3,0                         3
1      NaN                 14               3,0                         1
2       No                 11               3,0                         4
3      NaN                 19               3,0                         2
4       No                 12               3,0                         4

  StandardHours  StockOptionLevel TOTALWORKINGYEARS  TrainingTimesLastYear  \
0           NaN                 0               NaN                      5
1           NaN                 1              34,0                      5
2           NaN                 0              22,0                      3
3           NaN                 2               NaN                      2
4           NaN                 1               NaN                      5

  WORKLIFEBALANCE  YearsAtCompany YearsInCurrentRole  YearsSinceLastPromotion  \
0             3,0              20                NaN                       15
1             3,0              33                NaN                       11
2             NaN              22                NaN                       11
3             NaN              20                NaN                        5
4             3,0              19                NaN                        2

   YEARSWITHCURRMANAGER SameAsMonthlyIncome  DateBirth       Salary  \
0                    15             19537,0       1972  1000000000$
1                     9             19999,0       1971  1000000000$
2                    15             19232,0       1981  1000000000$
3                     6             17169,0       1976  1000000000$
4                     8                 NaN       1977  1000000000$

                        RoleDepartament  NUMBERCHILDREN RemoteWork
0                                   NaN             NaN        Yes
1                                   NaN             NaN          1
2   ManaGER  -  Research & Development              NaN          1
3                                   NaN             NaN      False
4                                   NaN             NaN          0
Tenemos 1614 filas y 42 columnas